/*  
Company: WebHosting.coop Foundation
Author: Team WHC
Template Version: .1337
"Life is Art. <3" - b
"Creative / Logic" -b
"Democracy - Key to Peace" - b
"I'd rather be designing" - b
"Logic can kiss my ass" - b
"A friend with weed is a friend indeed" -b
"Sentimental Love in My Ears Play Memories of Family from the Otherside" -b
"Raising taxes on businesses will result in a loss of jobs. " -b
"Cooperatives are businesses too. <3" -b
"Walk softly and walk with a big arrow." -b
*/


/*  GLOBAL  */

html{}
body{}
h1{}
h2{}
h3{}
a{}
a:hover{}
p{font-size:1.2em;}
ul{margin:10px 0;padding:0;}
ul li{list-style-type:none;margin:0}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Raleway', sans-serif!important;
}

.navbar-collapse{float:left;}
.support-button{float:right;margin-right:20px;}
#logo {
    
    float:left;
    width:300px;
   
    font-size: 36px;
    line-height: 120px;
    
}


#logo a {display: block;color: #000;}
#logo img {display: block;max-width: 100%;margin:16px 200px 16px 0;}
#logo a.standard-logo { display: block; }
#logo a.retina-logo { display: none; }

.line {position: relative;margin-top: 20px;}
.line:before {content: "";display: block;border-top: solid 1px #ADADAD;width: 100%;height: 1px;position: absolute;top: 50%;z-index: 1;}
.line span {background: #ECECEC;padding: 0 20px;position: relative;z-index: 5;}
.line2 {position: relative;margin-top: 20px;}
.line2:before {content: "";display: block;border-top: solid 1px #ADADAD;width: 100%;height: 1px;position: absolute;top: 50%;z-index: 1;}
 .line2 span {background: #FFF;padding: 0 20px;position: relative;z-index: 5;}
.subtitle{padding:10px 0;}
.learn-txt{color:#fff;text-shadow: 1px 1px 1px #000; padding:100px 100px 100px 70px!important; text-align:left;}
.learn-txt h2{text-align:left!important;}
.center{text-align:center;}
.nomargin{margin:0!important;padding:0!important;}
.nopadding{padding:0!important;}
.col{margin-bottom: -99999px!important;padding-bottom: 99999px!important;}
.right{text-align:right;}
.bold{font-weight:700;}
.bold2{font-weight:800;}
.v-padding{padding:50px 0;}
.v-padding-sm{margin:20px 0;}
.v-padding-10{margin:10px 0;}
.v-padding-20{margin:20px 0;}
.v-padding-30{margin:30px 0;}
.v-padding-40{margin:40px 0;}
.v-padding-50{margin:50px 0;}
.v-padding-70{margin:60px 0;}
.v-padding-100{margin:70px 0;}
.v-margin-hand{margin:50px 0;}
.v-margin-sm{margin:20px 0;}
.v-margin-10{margin:10px 0;}
.v-margin-20{margin:20px 0;}
.v-margin-30{margin:30px 0;}
.v-margin-40{margin:40px 0;}
.v-margin-50{margin:50px 0;}
.v-margin-70{margin:60px 0;}
.v-margin-100{margin:70px 0;}


.community{display:block;background-image:url(../images/community.png);background-repeat:repeat;height:183px;width:100%;position:relative;top:100px;}
.subfeature-list{font-size:1.3em;text-align:left;}

/* Custom Button Sizes */

.btn-a,
.btn-group-a > .btn {padding: 10px 20px!important;font-size: 1.4em!important;line-height: 1.3333333;border-radius: 6px;}
.btn-b,
.btn-group-b > .btn {padding: 10px 20px!important;font-size: 1.3em!important;line-height: 1.5;border-radius: 3px;}
.btn-c,
.btn-group-c > .btn {padding: 3px 10px!important;font-size: 1em!important;line-height: 1.5;border-radius: 3px;}
.btn-d,
.btn-group-d > .btn {padding: 10px 20px!important; font-size: 1.1em!important;line-height: 1.5;border-radius: 3px;}
.btn-main,
.btn-group-main > .btn {padding: 10px 20px!important;font-size:2em!important;line-height: 2em;border-radius: 3px;}

.btn-nav,
.btn-group-nav > .btn {padding: 10px 20px!important;font-size:1em!important;margin:40px 0;border-radius: 3px;}


/* Main Slider Buttons */
.btn-main-slider{}
.btn-main-slider{color: #333;background-color: #FF8000;border-color: #ccc;
}
.btn-main-slider:focus,
.btn-main-slider.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-main-slider:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-main-slider:active,
.btn-main-slider.active,
.open > .dropdown-toggle.btn-main-slider {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-main-slider:active:hover,
.btn-main-slider.active:hover,
.open > .dropdown-toggle.btn-main-slider:hover,
.btn-main-slider:active:focus,
.btn-main-slider.active:focus,
.open > .dropdown-toggle.btn-main-slider:focus,
.btn-main-slider:active.focus,
.btn-main-slider.active.focus,
.open > .dropdown-toggle.btn-main-slider.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-main-slider:active,
.btn-main-slider.active,
.open > .dropdown-toggle.btn-main-slider {background-image: none;}
.btn-main-slider.disabled:hover,
.btn-main-slider[disabled]:hover,
fieldset[disabled] .btn-main-slider:hover,
.btn-main-slider.disabled:focus,
.btn-main-slider[disabled]:focus,
fieldset[disabled] .btn-main-slider:focus,
.btn-main-slider.disabled.focus,
.btn-main-slider[disabled].focus,
fieldset[disabled] .btn-default.focus {background-color: #fff;border-color: #ccc;}
.btn-main-slider .badge {color: #fff;background-color: #333;}



.thank-social ul{text-align:left;}
.thank-social ul li{display:inline-block;}
.register-txt ul li{font-size:1.4em;}



/* Top Bar Buttons 1 and 2 */

.btn-topbar1{color: #333;background-color: #fff;border-color: #ccc;}
.btn-topbar1:focus,
.btn-topbar1.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-topbar1:hover {color: #333;background-color: #e6e6e6;border-color: transparent!important;}
.btn-topbar1:active,
.btn-topbar1.active,
.open > .dropdown-toggle.btn-topbar1 {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-topbar1:active:hover,
.btn-topbar1.active:hover,
.open > .dropdown-toggle.btn-topbar1:hover,
.btn-topbar1:active:focus,
.btn-topbar1.active:focus,
.open > .dropdown-toggle.btn-topbar1:focus,
.btn-topbar1:active.focus,
.btn-topbar1.active.focus,
.open > .dropdown-toggle.btn-topbar1.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-topbar1:active,
.btn-topbar1.active,
.open > .dropdown-toggle.btn-topbar1 {background-image: none;}
.btn-topbar1.disabled:hover,
.btn-topbar1[disabled]:hover,
fieldset[disabled] .btn-topbar1:hover,
.btn-topbar1.disabled:focus,
.btn-topbar1[disabled]:focus,
fieldset[disabled] .btn-topbar1:focus,
.btn-topbar1.disabled.focus,
.btn-topbar1[disabled].focus,
fieldset[disabled] .btn-topbar1.focus {background-color: #fff;border-color: #ccc;}
.btn-topbar1 .badge {color: #fff;background-color: #333;}
.btn-topbar2{}
.btn-topbar2{color: #333;background-color: #fff;border-color: #ccc;}
.btn-topbar2:focus,
.btn-topbar2.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-topbar2:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-topbar2:active,
.btn-topbar2.active,
.open > .dropdown-toggle.btn-topbar1 {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-topbar2:active:hover,
.btn-topbar2.active:hover,
.open > .dropdown-toggle.btn-topbar2:hover,
.btn-topbar2:active:focus,
.btn-topbar2.active:focus,
.open > .dropdown-toggle.btn-topbar2:focus,
.btn-topbar2:active.focus,
.btn-topbar2.active.focus,
.open > .dropdown-toggle.btn-topbar2.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-topbar2:active,
.btn-topbar2.active,
.open > .dropdown-toggle.btn-topbar2 {background-image: none;}
.btn-topbar2.disabled:hover,
.btn-topbar2[disabled]:hover,
fieldset[disabled] .btn-topbar2:hover,
.btn-topbar2.disabled:focus,
.btn-topbar2[disabled]:focus,
fieldset[disabled] .btn-topbar2:focus,
.btn-topbar2.disabled.focus,
.btn-topbar2[disabled].focus,
fieldset[disabled] .btn-topbar2.focus {background-color: #fff;border-color: #ccc;}
.btn-topbar2 .badge {color: #fff;background-color: #333;}

/* Blue Buttons */
.btn-blue{}
.btn-blue{color: #fff;background-color: #284E67;border-color: #284E67;}
.btn-blue:focus,
.btn-blue.focus {color: #fff;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-blue:hover {color: #fff;background-color: #346B90;border-color: #346B90;}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {color: #fff;background-color: #e6e6e6;border-color: #adadad;}
.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {color: #fff;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {background-image: none;}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {background-color: #fff;border-color: #ccc;}
.btn-blue .badge {color: #fff;background-color: #333;}
.two-line-left{padding-right:4px!important;}
.two-line-right{padding-left:4px!important;}


.slider-txt{font-size:2em;color:#FFF;text-align:center;padding:100px 0 10px 0!important;font-weight:300!important;text-shadow:1px 1px #000;}
.slider-txt2{font-size:1em;color:#FFF;text-align:center!important;padding:0 0 20px 0!important;font-weight:300!important;text-shadow:1px 1px #000;}
.non-profit-slider .slider-txt{font-size:2em;color:#000!important;text-align:center!important;text-shadow:1px 1px #FFF;}
.non-profit-slider .slider-txt2{font-size:1em;color:#000!important;text-align:center!important;text-shadow:1px 1px #FFF;}


.coop-slider .slider-txt{font-size:2em;color:#FFF!important;text-align:center!important;}
.coop-slider .slider-txt2{font-size:1em;color:#FFF!important;text-align:center!important;}


/* Ghost Buttons - Blue */
.btn-ghost{}
.btn-ghost{color: #333;background-color: #fff;border-color: #ccc!important;}
.btn-ghost:focus,
.btn-ghost.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-ghost:hover {color: #fff!important;background-color: #1C4965;border-color: #1C4965;}
.btn-ghost:active,
.btn-ghost.active,
.open > .dropdown-toggle.btn-ghost {color: #333;background-color: #1C4965;border-color: #1C4965;}
.btn-ghost:active:hover,
.btn-ghost.active:hover,
.open > .dropdown-toggle.btn-ghost:hover,
.btn-ghost:active:focus,
.btn-ghost.active:focus,
.open > .dropdown-toggle.btn-ghost:focus,
.btn-ghost:active.focus,
.btn-ghost.active.focus,
.open > .dropdown-toggle.btn-ghost.focus {color: #333;background-color: #1C4965;border-color: #1C4965;}
.btn-ghost:active,
.btn-ghost.active,
.open > .dropdown-toggle.btn-ghost {background-image: none;}
.btn-ghost.disabled:hover,
.btn-ghost[disabled]:hover,
fieldset[disabled] .btn-ghost:hover,
.btn-ghost.disabled:focus,
.btn-ghost[disabled]:focus,
fieldset[disabled] .btn-ghost:focus,
.btn-ghost.disabled.focus,
.btn-ghost[disabled].focus,
fieldset[disabled] .btn-default.focus {background-color: #fff;border-color: #ccc;}
.btn-ghost .badge {color: #fff;background-color: #333;}

/* Ghost Buttons - Grey */
.btn-ghost-grey{}
.btn-ghost-grey{color: #333;background-color: #EEEEEE;border-color: #284E67!important;}
.btn-ghost-grey:focus,
.btn-ghost-grey.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-ghost-grey:hover {color: #fff!important;background-color: #284E67;border-color: #284E67;}
.btn-ghost-grey:active,
.btn-ghost-grey.active,
.open > .dropdown-toggle.btn-ghost-grey {color: #333;background-color: #1C4965;border-color: #1C4965;}
.btn-ghost-grey:active:hover,
.btn-ghost-grey.active:hover,
.open > .dropdown-toggle.btn-ghost-grey:hover,
.btn-ghost-grey:active:focus,
.btn-ghost-grey.active:focus,
.open > .dropdown-toggle.btn-ghost-grey:focus,
.btn-ghost-grey:active.focus,
.btn-ghost-grey.active.focus,
.open > .dropdown-toggle.btn-ghost-grey.focus {color: #333;background-color: #1C4965;border-color: #1C4965;}
.btn-ghost-grey:active,
.btn-ghost-grey.active,
.open > .dropdown-toggle.btn-ghost-grey {background-image: none;}
.btn-ghost-grey.disabled:hover,
.btn-ghost-grey[disabled]:hover,
fieldset[disabled] .btn-ghost-grey:hover,
.btn-ghost-greyghost-grey.disabled:focus,
.btn-ghost-grey[disabled]:focus,
fieldset[disabled] .btn-ghost-grey:focus,
.btn-ghost-grey.disabled.focus,
.btn-ghost-grey[disabled].focus,
fieldset[disabled] .btn-ghost-grey.focus {background-color: #fff;border-color: #ccc;}
.btn-ghost-grey .badge {color: #fff;background-color: #333;}


/* Inverted Ghost */
.btn-inverted-ghost{}
.btn-inverted-ghost{color: #fff;;background-color: transparent;border-color: #fff!important;}
.btn-inverted-ghost:focus,
.btn-inverted-ghost.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-inverted-ghost:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-inverted-ghost:active,
.btn-inverted-ghost.active,
.open > .dropdown-toggle.inverted-ghost {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-inverted-ghost:active:hover,
.btn-inverted-ghost.active:hover,
.open > .dropdown-toggle.btn-inverted-ghost:hover,
.btn-inverted-ghost:active:focus,
.btn-inverted-ghost.active:focus,
.open > .dropdown-toggle.btn-inverted-ghost:focus,
.btn-inverted-ghost:active.focus,
.btn-inverted-ghost.active.focus,
.open > .dropdown-toggle.btn-inverted-ghost.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-inverted-ghost:active,
.btn-inverted-ghost.active,
.open > .dropdown-toggle.btn-inverted-ghost {background-image: none;}
.btn-inverted-ghost.disabled:hover,
.btn-inverted-ghost[disabled]:hover,
fieldset[disabled] .btn-inverted-ghost:hover,
.btn-inverted-ghost.disabled:focus,
.btn-inverted-ghost[disabled]:focus,
fieldset[disabled] .btn-inverted-ghost:focus,
.btn-inverted-ghost.disabled.focus,
.btn-inverted-ghost[disabled].focus,
fieldset[disabled] .btn-inverted-ghost.focus {background-color: #fff;border-color: #ccc;}
.btn-inverted-ghost .badge {color: #fff;background-color: #333;}


/* Inverted Ghost Blue */
.btn-inverted-ghost-blue{}
.btn-inverted-ghost-blue{color: #284E67;;background-color: transparent;border-color: #284E67!important;}
.btn-inverted-ghost-blue:focus,
.btn-inverted-ghost-blue.focus {color: #FFF;background-color: #284E67;border-color: #284E67;}
.btn-inverted-ghost-blue:hover {color: #FFF!important;background-color: #284E67;border-color: #284E67;}
.btn-inverted-ghost-blue:active,
.btn-inverted-ghost-blue.active,
.open > .dropdown-toggle.inverted-ghost-blue {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-inverted-ghost-blue:active:hover,
.btn-inverted-ghost-blue.active:hover,
.open > .dropdown-toggle.btn-inverted-ghost-blue:hover,
.btn-inverted-ghost-blue:active:focus,
.btn-inverted-ghost-blue.active:focus,
.open > .dropdown-toggle.btn-inverted-ghost-blue:focus,
.btn-inverted-ghost-blue:active.focus,
.btn-inverted-ghost-blue.active.focus,
.open > .dropdown-toggle.btn-inverted-ghost-blue.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-inverted-ghost-blue:active,
.btn-inverted-ghost-blue.active,
.open > .dropdown-toggle.btn-inverted-ghost-blue {background-image: none;}
.btn-inverted-ghost-blue.disabled:hover,
.btn-inverted-ghost-blue[disabled]:hover,
fieldset[disabled] .btn-inverted-ghost-blue:hover,
.btn-inverted-ghost-blue.disabled:focus,
.btn-inverted-ghost-blue[disabled]:focus,
fieldset[disabled] .btn-inverted-ghost-blue:focus,
.btn-inverted-ghost-blue.disabled.focus,
.btn-inverted-ghost-blue[disabled].focus,
fieldset[disabled] .btn-inverted-ghost-blue.focus {background-color: #fff;border-color: #ccc;}
.btn-inverted-ghost-blue .badge {color: #fff;background-color: #333;}



/* Dark Background Buttons "Contrast" */

.btn-contrast{color: #000!important;background-color: #EFA649!important;border-color: transparent!important;}
.btn-contrast:focus,
.btn-contrast.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-contrast:hover {color: #333!important;background-color: #FAD35C!important;border-color: transparent!important;}
.btn-contrast:active,
.btn-contrast.active,
.open > .dropdown-toggle.btn-contrast {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-contrast:active:hover,
.btn-contrast.active:hover,
.open > .dropdown-toggle.btn-contrast:hover,
.btn-contrast:active:focus,
.btn-contrast.active:focus,
.open > .dropdown-toggle.btn-contrast:focus,
.btn-contrast:active.focus,
.btn-contrast.active.focus,
.open > .dropdown-toggle.btn-contrast.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-contrast:active,
.btn-contrast.active,
.open > .dropdown-toggle.btn-contrast {background-image: none;}
.btn-contrast.disabled:hover,
.btn-contrast[disabled]:hover,
fieldset[disabled] .btn-contrast:hover,
.btn-contrast.disabled:focus,
.btn-contrast[disabled]:focus,
fieldset[disabled] .btn-contrast:focus,
.btn-contrast.disabled.focus,
.btn-contrast[disabled].focus,
fieldset[disabled] .btn-contrast.focus {background-color: #fff;border-color: #ccc;}
.btn-contrast .badge {color: #fff;background-color: #333;}


/* Light Background Buttons "Norml" */
.btn-norml{}
.btn-norml{color: #333;background-color: #fff;border-color: #ccc;}
.btn-norml:focus,
.btn-norml.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-norml:hover {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-norml:active,
.btn-norml.active,
.open > .dropdown-toggle.btn-norml {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-norml:active:hover,
.btn-norml.active:hover,
.open > .dropdown-toggle.btn-norml:hover,
.btn-norml:active:focus,
.btn-norml.active:focus,
.open > .dropdown-toggle.btn-norml:focus,
.btn-norml:active.focus,
.btn-norml.active.focus,
.open > .dropdown-toggle.btn-norml.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-norml:active,
.btn-norml.active,
.open > .dropdown-toggle.btn-contrast {background-image: none;}
.btn-norml.disabled:hover,
.btn-norml[disabled]:hover,
fieldset[disabled] .btn-norml:hover,
.btn-norml.disabled:focus,
.btn-norml[disabled]:focus,
fieldset[disabled] .btn-norml:focus,
.btn-norml.disabled.focus,
.btn-norml[disabled].focus,
fieldset[disabled] .btn-norml.focus {background-color: #fff;border-color: #ccc;}
.btn-norml .badge {color: #fff;background-color: #333;}

/* Footer Buttons */

.btn-footer{}
.btn-footer{color: #000!important;background-color: #EFA649!important;border-color: transparent!important;}
.btn-footer:focus,
.btn-footer.focus {color: #333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn-footer:hover {color: #333!important;background-color: #FAD35C!important;border-color: transparent!important;}
.btn-footer:active,
.btn-footer.active,
.open > .dropdown-toggle.btn-footer {color: #333;background-color: #e6e6e6;border-color: #adadad;}
.btn-footer:active:hover,
.btn-footer.active:hover,
.open > .dropdown-toggle.btn-footer:hover,
.btn-footer:active:focus,
.btn-footer.active:focus,
.open > .dropdown-toggle.btn-footer:focus,
.btn-footer:active.focus,
.btn-footer.active.focus,
.open > .dropdown-toggle.btn-footer.focus {color: #333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn-footer:active,
.btn-footer.active,
.open > .dropdown-toggle.btn-footer {background-image: none;}
.btn-footer.disabled:hover,
.btn-footer[disabled]:hover,
fieldset[disabled] .btn-footer:hover,
.btn-footer.disabled:focus,
.btn-footer[disabled]:focus,
fieldset[disabled] .btn-footer:focus,
.btn-footer.disabled.focus,
.btn-footer[disabled].focus,
fieldset[disabled] .btn-footer.focus {background-color: #fff;border-color: #ccc;}
.btn-footer .badge {color: #fff;background-color: #333;}



/* TEMPLATE */
#topbar{background-color:#083F59;background-image:url('../images/blue-bg.png');background-repeat:repeat;border-bottom:4px solid #68B2DE; padding:10px 0;}

#topbar a{}
#topbar ul{padding:0;margin:0;}
#topbar ul li{list-style-type:none;display:inline;}
.top-txt a{font-size:1.2em;margin:0 10px;color:#B7D6E3;}
.top-txt a:hover{text-decoration:underline;color:#FFF;}
.top-button{margin:0 3px}
#topbar .social{}
#topbar .support{}
.top-divider{color:#B7D6E3;font-size:1.2em;margin:0 5px;}
.topbar-fb,.topbar-twitter,.topbar-google,.topbar-linkedin{font-size:1.1em;display:inline-block;padding:5px;margin:0 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;width:30px;text-align:center;color:#B7D6E3!important;}
.social .topbar-fb{background-color:#3B5B90;}
.social .topbar-fb:hover{background-color:#3E6BB1;}
.social .topbar-twitter{background-color:#61A6E0;}
.social .topbar-twitter:hover{background-color:#7AB1E4;}
.social .topbar-google{background-color:#B33E35;}
.social .topbar-google:hover{background-color:#C24F3B;}
.social .topbar-linkedin{background-color:#2F7DB1;}
.social .topbar-linkedin:hover{background-color:#4592CF;}
.item{text-align:center;}

/* NAV */

.nav1, .nav2, .nav3, .nav4, .nav5, 
.nav6
{ max-width: 100%; background-size: 100%; background-image: url('../images/nav-sprite.png'); }
 
.nav1 { background-position: 0 0%; background-size: 100%; }
.nav2 { background-position: 0 20%; background-size: 100%; }
.nav3 { background-position: 0 40%; background-size: 100%; }
.nav4 { background-position: 0 60%; background-size: 100%; }
.nav5 { background-position: 0 80%; background-size: 100%; }
.nav6 { background-position: 0 100%; background-size: 100%; }
.navbar h2{font-size:1.3em!important;}
.navbar h2 a{color:#333;}
.navbar h2 a:hover{text-decoration:none;}
.navbar p{font-size:1em;}
.nav-col{text-align:center!important;border-right:1px solid #EFEFEF;}
.nav-col:last-child{border-right:none;}


/* HOMEPAGE  */

.people, .world, .nav1, .nav2, .nav3, 
.nav4, .nav5, .nav6
{ max-width: 100%; background-size: 100%; background-image: url('../images/index-sprite3.png'); }
 
.people { background-position: 0 0%; background-size: 100%; }
.world { background-position: 0 33.628319%; background-size: 117.990654%; }
.nav1 { background-position: 0 59.327549%; background-size: 721.428571%; }
.nav2 { background-position: 0 67.462039%; background-size: 721.428571%; }
.nav3 { background-position: 0 75.596529%; background-size: 721.428571%; }
.nav4 { background-position: 0 83.73102%; background-size: 721.428571%; }
.nav5 { background-position: 0 91.86551%; background-size: 721.428571%; }
.nav6 { background-position: 0 100%; background-size: 721.428571%; }
 


.classroom{display:block;}
.classroom img{width:100%!important;height:100%!important;}
.sm-class{text-align:center;border-right:1px solid #E7E7E7; }
.sm-class:last-child{border-right:none!important;}
.sm-class h3{}

#home-classes{padding:40px 0 50px 0}
#home-classes h3{font-size:1.3em;font-weight:700;text-transform: uppercase;text-align:center;}
#home-classes h3 a{color:#333;}
.main{height:400px;}
.main-cont{}
.main-cont h1{}
.main-cont h2{font-size:1.5em;font-style:italic;}
.main-cont p{}
.main-cont a{}
.main-cont a:hover{}
.main{}
.main h2{text-align:center!important;}
.main h3{text-align:center!important;}
.non-profit-slider{color:#FFF;}
.submain{line-height:50px;}


/* Testimonials */
#testimonials,#inc-benefits,#inc-learn,#inc-become-coop,#inc-become-student{padding:30px 0;}
#testimonials .right.carousel-control, #testimonials ..carousel-control {display: none;}
#testimonials{background-image: url('../images/testimonialbg2.jpg');background-repeat:no-repeat;background-size:cover;}
#testimonials h5{font-size:2em;font-style:italic;font-weight:700;line-height:1.3em;}
#testimonials img{text-align:center;padding:30px 0;}
.quotes{position:absolute;font-size:2.2em;font-weight:300;}
.quote1{:-1px}
.quote2{right:1px;}
.author{text-align:left;position:absolute;right:100px;}
.author p{font-weight:700;}
.author a:hover{text-decoration:underline;}



.register {text-align:center!important;}
.register img{width:100%;}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}



.col-xs-2ths,
.col-sm-2ths,
.col-md-2ths,
.col-lg-2ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-2ths {
    width: 50%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-2ths {
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-2ths {
        width: 50%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-2ths {
        width: 50%;
        float: left;
    }
}




/* Benefits */

.inc-big-feat-1, .inc-big-feat-2, .inc-big-feat-3, .inc-edu-1, .inc-edu-2, 
.inc-edu-3, .inc-edu-4, .inc-hand-1, .inc-hand-2, .inc-hand-3, 
.inc-hand-4, .inc-qaul-1, .inc-qaul-2, .inc-qaul-3, .inc-qaul-4
{ max-width: 100%; background-size: 100%; background-image: url('../images/benefits-sprite.png'); }
 
.inc-big-feat-1 { background-position: 0 0%; background-size: 100%; }
.inc-big-feat-2 { background-position: 0 10.098522%; background-size: 100%; }
.inc-big-feat-3 { background-position: 0 20.197044%; background-size: 100%; }
.inc-edu-1 { background-position: 0 29.285714%; background-size: 192.307692%; }
.inc-edu-2 { background-position: 0 35.714286%; background-size: 192.307692%; }
.inc-edu-3 { background-position: 0 42.142857%; background-size: 192.307692%; }
.inc-edu-4 { background-position: 0 48.571429%; background-size: 192.307692%; }
.inc-hand-1 { background-position: 0 55%; background-size: 192.307692%; }
.inc-hand-2 { background-position: 0 61.428571%; background-size: 192.307692%; }
.inc-hand-3 { background-position: 0 67.857143%; background-size: 192.307692%; }
.inc-hand-4 { background-position: 0 74.285714%; background-size: 192.307692%; }
.inc-qaul-1 { background-position: 0 80.714286%; background-size: 192.307692%; }
.inc-qaul-2 { background-position: 0 87.142857%; background-size: 192.307692%; }
.inc-qaul-3 { background-position: 0 93.571429%; background-size: 192.307692%; }
.inc-qaul-4 { background-position: 0 100%; background-size: 192.307692%; }
.additional-hand{margin:217px 0 30px 0;}



/* Non-Profit Page */

.inc-non-profit-main-1, .inc-non-profit-main-2
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-non-profit-main-sprite.png'); }
.inc-non-profit-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-non-profit-main-2 { background-position: 0 100%; background-size: 128.391167%; }

.inc-non-profit-logo-1, .inc-non-profit-logo-2, .inc-non-profit-logo-3, .inc-non-profit-logo-4, .inc-non-profit-logo-5, 
.inc-non-profit-logo-6, .inc-non-profit-1, .inc-non-profit-2, .inc-non-profit-3, .inc-non-profit-4
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-non-profit-sprite.png'); }
 
.inc-non-profit-logo-1 { background-position: 0 0%; background-size: 100%; }
.inc-non-profit-logo-2 { background-position: 0 9.859155%; background-size: 100%; }
.inc-non-profit-logo-3 { background-position: 0 19.71831%; background-size: 100%; }
.inc-non-profit-logo-4 { background-position: 0 29.577465%; background-size: 100%; }
.inc-non-profit-logo-5 { background-position: 0 39.43662%; background-size: 100%; }
.inc-non-profit-logo-6 { background-position: 0 49.295775%; background-size: 100%; }
.inc-non-profit-1 { background-position: 0 60.869565%; background-size: 138.461538%; }
.inc-non-profit-2 { background-position: 0 73.913043%; background-size: 138.461538%; }
.inc-non-profit-3 { background-position: 0 86.956522%; background-size: 138.461538%; }
.inc-non-profit-4 { background-position: 0 100%; background-size: 138.461538%; }

.non-profit-title h2{padding:10px 0 30px 0;}
#non-profit-benefits{background-image:url('../images/inc-non-profit-bg-1.jpg');background-size:cover;}
#inc-non-profit-logos{background-image:url('../images/inc-non-profit-bg-2.jpg');background-size:cover;}
#inc-non-profit-logos h3{margin:0;padding:26px 0;}
.non-profit-icon{text-align:center;}
.non-profit-txt{padding-top:40px;}
.non-profit-feat{}
.non-profit-subfeat{margin:20px 0;}
.non-profit-subfeat-txt{padding:60px 0;}
.non-profit-subfeat img{}
.non-profit-subfeat h4{}
.sub-feat-right{}
.member-logos{text-align:center;padding-top:10px;}


/*  Cooperative Association Page    */

.inc-coops-main-2, .inc-coops-main-1
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-coop-main-sprite.png'); }
 
.inc-coops-main-2 { background-position: 0 0%; background-size: 100%; }
.inc-coops-main-1 { background-position: 0 100%; background-size: 113.681592%; }

.inc-coops-1, .inc-coops-2, .inc-coops-3, .inc-coops-4, .inc-coops-sm-1, 
.inc-coops-sm-2, .inc-coops-sm-3, .inc-coops-sm-4, .inc-coops-sm-5, .inc-coops-sm-6, 
.inc-coops-sm-7
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-coop-sprite.png'); }
 
.inc-coops-1 { background-position: 0 0%; background-size: 100%; }
.inc-coops-2 { background-position: 0 12.217195%; background-size: 100%; }
.inc-coops-3 { background-position: 0 24.434389%; background-size: 100%; }
.inc-coops-4 { background-position: 0 36.651584%; background-size: 100%; }
.inc-coops-sm-1 { background-position: 0 47.368421%; background-size: 136.842105%; }
.inc-coops-sm-2 { background-position: 0 56.140351%; background-size: 136.842105%; }
.inc-coops-sm-3 { background-position: 0 64.912281%; background-size: 136.842105%; }
.inc-coops-sm-4 { background-position: 0 73.684211%; background-size: 136.842105%; }
.inc-coops-sm-5 { background-position: 0 82.45614%; background-size: 136.842105%; }
.inc-coops-sm-6 { background-position: 0 91.22807%; background-size: 136.842105%; }
.inc-coops-sm-7 { background-position: 0 100%; background-size: 136.842105%; }

#coop-main{}
#coop-benefits{background-image:url('../images/inc-coops-bg-2.jpg');
background-size:cover;
color:#FFF;text-shadow: 1px 1px #000;}
#principals{}
#principals img{}
.coop-icon{text-align:center!important;}
.coop-icon img{}
.coop-icon h4{}
.coop-icon p{}
.coop-icon img{text-align:center;}


/* Foundation */

.love-websites, .mj, .inc-big-cat-1, .inc-big-cat-2, .inc-big-cat-3, 
.b{ max-width: 100%; background-size: 100%; background-image: url('../images/foundation-sprite.png'); }
.love-websites { background-position: 0 0%; background-size: 100%; }
.mj { background-position: 0 20.611354%; background-size: 100%; }
.inc-big-cat-1 { background-position: 0 40.136054%; background-size: 155.6%; }
.inc-big-cat-2 { background-position: 0 57.568027%; background-size: 155.6%; }
.inc-big-cat-3 { background-position: 0 75%; background-size: 155.6%; }
.b { background-position: 0 100%; background-size: 249.358974%; }

.inc-classroom{background-image:url('../images/inc-classroom.jpg');background-size:cover;height:462px;}
.grid{background-position:bottom ;background-image:url('../images/blue-bg.png');background-color:#183F57;height:462px;}


select{color:#999!important;}

.icon-ph {display: inline-block;width: 40px;height: auto;min-width: 16px;padding: 4px 5px ;font-size: 14px;font-weight: normal;line-height: 20px;text-align: center;text-shadow: 0 1px 0 #ffffff;background-color: #eeeeee;position:absolute;left:3px;top:3px;bottom:3px;z-index:3;}
.form-name {padding:6px 6px 6px 50px;border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;border: 1px solid #CCC;width:100%;}
.form-email {padding:6px 6px 6px 50px;border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border: 1px solid #CCC;width:100%;}
.form-phone {padding:6px 6px 6px 50px;border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border: 1px solid #CCC;width:100%;}
.form-class {padding:6px 6px 6px 50px;border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border: 1px solid #CCC;width:100%;}
.form-row{margin:5px 0;}
.modal-sec{padding:30px 0;}

.input-container {position:relative;}
.register-button{margin:20px 0;}
.close2 a{position:absolute;right:-10px;top:-10px;opacity:1!important;
background-color:#FFF;width:3em;height:3em;-moz-border-radius: 5em; -webkit-border-radius: 5em; border-radius: 5em;}
.red{color:#990000;opacity:1!important;font-size: 3em!important;position:relative;left:4px;top:1px;}
.red:hover{color:#C30000;}
.inc-classroom img{position:relative;left:-155px;top:50px;}
.student-button{padding:30px 0 20px 0;text-align:right;}
.side-by-side{margin-right: 10px;}


/* Sections */
#main{text-align:center;margin-top:-20px;}
.main-txt{text-align:left;}
#inc-benefits{}
#inc-learn{color:#FFF;text-shadow: 2px 2px #333;}
#inc-become-coop{background-image:url('../images/index-bg-3.jpg');background-size:cover;color:#FFF;text-shadow:1px 1px #000;}
#inc-become-student{background-color:#ECECEC;padding:100px 0;}
.coop-world img{width:370px;position:relative;top:30px;left:36px;}

/* Benefits Page */
#inc-free-benefits{}
#inc-free-education{background-color:#FFF;background-image:url('../images/learn-bg.jpg');background-repeat:no-repeat;background-position:center right;}
#inc-quality-hosting{background-color:black;background-image:url('../images/quality-bg.jpg');background-size:cover;color:#FFF;}
#inc-free-hand-holding{background-color:#C8E2F4;background-image:url('../images/hand-bg.jpg');background-size:cover;}
#inc-start-non-profits{background-color:#EEE;}
.nested-icons{text-align:center;}
#inc-get-started{}


/* Footer */
#footer{background-color:#083F59;background-image:url('../images/blue-bg.png');background-repeat:repeat;min-height:10px;border-top:4px solid #68B2DE; color:#B7D6E3;}

#copyright{background-color:#333333;border-top:3px solid #4885A9;padding:10px 0 4px 0;  }
.copyright-txt{ color:#FFF!important;font-size:1em!important;}
#copyright p{}
#copyright a{color:#FFF;font-size:1em;padding:0 3px;}
.class-categories{/* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(211,211,211) 0%,rgb(197,197,197) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(211,211,211)),color-stop(1, rgb(197,197,197)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(211,211,211) 0%,rgb(197,197,197) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(211,211,211) 0%,rgb(197,197,197) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(211,211,211) 0%,rgb(197,197,197) 100%);
background-image:linear-gradient(180deg,rgb(211,211,211) 0%,rgb(197,197,197) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd3d3d3,endColorstr=#ffc5c5c5,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd3d3d3,endColorstr=#ffc5c5c5,GradientType=0);padding:22px 0;}


.class-categories a{font-size:1.1em;font-weight:700;color:#333;text-transform: uppercase;}
.class-sec{border-right:1px solid #777;text-align:center;}
#submain{text-align:left;background-color:#192931;background-image:url('../images/submain-bg.jpg');background-size:cover;margin-top:-20px;padding:20px 0;color:#FFF;text-shadow:2px 2px #000;}
#submain h1{font-size:2em; font-weight:300;line-height:18px;text-align:left;}
#submain h2{font-size:1.3em;font-weight:300;line-height:15px;text-align:left;line-height:26px;}
.bjm{position:relative;:-10px;}
.section h2{font-size:2em;font-weight:700;text-align:center;}
.section h3{font-size:2em;font-weight:700;text-align:left;}
.section h4{font-size:1.3em;font-weight:700;text-align:left;}
.section h5{text-align:center;font-size:3em;font-weight:700!important;}
.three-features{text-align:center;}
.three-features a{font-size:1.5em;}
.three-features a:hover{}


/* Website Class */

.inc-website-1, .inc-website-10, .inc-website-11, .inc-website-12, .inc-website-2, 
.inc-website-3, .inc-website-4, .inc-website-5, .inc-website-6, .inc-website-7, 
.inc-website-8, .inc-website-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/website-class-sprite.png'); }
 
.inc-website-1 { background-position: 0 0%; background-size: 100%; }
.inc-website-10 { background-position: 0 9.090909%; background-size: 100%; }
.inc-website-11 { background-position: 0 18.181818%; background-size: 100%; }
.inc-website-12 { background-position: 0 27.272727%; background-size: 100%; }
.inc-website-2 { background-position: 0 36.363636%; background-size: 100%; }
.inc-website-3 { background-position: 0 45.454545%; background-size: 100%; }
.inc-website-4 { background-position: 0 54.545455%; background-size: 100%; }
.inc-website-5 { background-position: 0 63.636364%; background-size: 100%; }
.inc-website-6 { background-position: 0 72.727273%; background-size: 100%; }
.inc-website-7 { background-position: 0 81.818182%; background-size: 100%; }
.inc-website-8 { background-position: 0 90.909091%; background-size: 100%; }
.inc-website-9 { background-position: 0 100%; background-size: 100%; }

#inc-intro-website{background-image:url('../images/website-class-bg.jpg');background-size:cover;color:#FFF;}
#inc-class-apps{}
.estimate{font-size:1.5em;}
#inc-class-payment{background-image:url('../images/payment-bg.jpg');background-size:cover;color:#FFF;}


/* Class Images */
.ipad img{width:40%;position:absolute;left:-80px;top:100px}
.control-panel img{position:absolute;right:0;top:-680px;}
.phone img{width:90%;position:relative; top:100px;left:30px;}
.hosting-servers img{position:absolute;right:0;top:-650px;width:35%;}
.server-lady img{position:absolute;top:60px;width:32%;}
.maintenance img{width:34%;position:absolute;right:0;top:-528px;}
.balance img{width:32%;position:absolute;left:15px;top:70px;}
.shield img{width:26%;position:absolute;right:0;top:-600px;}
.git img{width:28%;position:absolute;right:0;top:-750px;}
.languages img{width:34%;position:absolute;left:0;top:100px;}
.databases img{width:32%;position:absolute;right:0;top:-600px;}
.art-love img{width:32%;position:absolute;right:0;top:-570px;}
.interaction img{width:32%;position:absolute;left:0;top:100px;left:40px;}
.report img{width:32%;position:absolute;right:0;top:-770px;}
.people-ethics img{}
.inc-websites-main-1, .inc-websites-main-2, .inc-websites-main-3
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-websites-main-sprite.png'); }
.inc-websites-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-websites-main-2 { background-position: 0 50%; background-size: 100%; }
.inc-websites-main-3 { background-position: 0 100%; background-size: 100%; }

/* Development Classes */

.inc-dev-1, .inc-dev-10, .inc-dev-11, .inc-dev-12, .inc-dev-2, 
.inc-dev-3, .inc-dev-4, .inc-dev-5, .inc-dev-6, .inc-dev-7, 
.inc-dev-8, .inc-dev-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/dev-sprite.png'); }
 
.inc-dev-1 { background-position: 0 0%; background-size: 100%; }
.inc-dev-10 { background-position: 0 9.090909%; background-size: 100%; }
.inc-dev-11 { background-position: 0 18.181818%; background-size: 100%; }
.inc-dev-12 { background-position: 0 27.272727%; background-size: 100%; }
.inc-dev-2 { background-position: 0 36.363636%; background-size: 100%; }
.inc-dev-3 { background-position: 0 45.454545%; background-size: 100%; }
.inc-dev-4 { background-position: 0 54.545455%; background-size: 100%; }
.inc-dev-5 { background-position: 0 63.636364%; background-size: 100%; }
.inc-dev-6 { background-position: 0 72.727273%; background-size: 100%; }
.inc-dev-7 { background-position: 0 81.818182%; background-size: 100%; }
.inc-dev-8 { background-position: 0 90.909091%; background-size: 100%; }
.inc-dev-9 { background-position: 0 100%; background-size: 100%; }


.inc-dev-main-1, .inc-dev-main-2, .inc-dev-main-3
{ max-width: 100%; background-size: 100%; background-image: url('../images/dev-sprite-main.png'); }
 
.inc-dev-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-dev-main-2 { background-position: 0 50%; background-size: 100%; }
.inc-dev-main-3 { background-position: 0 100%; background-size: 100%; }

#inc-git-class{color:#FFF;
    /* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(33,49,93) 0%,rgb(82,68,115) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(33,49,93)),color-stop(1, rgb(82,68,115)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(33,49,93) 0%,rgb(82,68,115) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(33,49,93) 0%,rgb(82,68,115) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(33,49,93) 0%,rgb(82,68,115) 100%);
background-image:linear-gradient(180deg,rgb(33,49,93) 0%,rgb(82,68,115) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff21315d,endColorstr=#ff524473,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff21315d,endColorstr=#ff524473,GradientType=0);}
.git-cont{background-image:url('../images/inc-dev-big-1.png');background-repeat:no-repeat;background-position:top right;}

.inc-dev-big-1 img{width:100px;}
.inc-dev-big-2 img{width:100px;}
.test img{width:100px;}
#inc-class-dev{}
#inc-class-db{color:#FFF;
/* Firefox v3.6+ */
background-image:-moz-radial-gradient(50% 50%,circle farthest-corner,rgb(40,115,191) 0%,rgb(0,0,0) 100%); 
/* Safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(radial,50% 50%,0,50% 50%,866.6212158203125,color-stop(0, rgb(40,115,191)),color-stop(1, rgb(0,0,0)));
/* Safari v6.0+ and by Chrome v10.0+ */
background-image:-webkit-radial-gradient(50% 50%,circle farthest-corner, rgb(40,115,191) 0%,rgb(0,0,0) 100%);
/* IE v10+ */
background-image:-ms-radial-gradient(50% 50%,circle farthest-corner, rgb(40,115,191) 0%,rgb(0,0,0) 100%);
background-image:radial-gradient(867px at 50% 50%,rgb(40,115,191) 0%,rgb(0,0,0) 100%);

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Style=2)";
filter:progid:DXImageTransform.Microsoft.Alpha(Style=2);}
.inc-dev-class-3-bg{background-image:url('../images/inc-dev-bg-3.png');background-size:cover;
width:100%;}


/* Web Hosting Classes */

.inc-hosting-class-1, .inc-hosting-class-10, .inc-hosting-class-11, .inc-hosting-class-12, .inc-hosting-class-2, 
.inc-hosting-class-3, .inc-hosting-class-4, .inc-hosting-class-5, .inc-hosting-class-6, .inc-hosting-class-7, 
.inc-hosting-class-8, .inc-hosting-class-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/webhosting-class-sprite.png'); }
 
.inc-hosting-class-1 { background-position: 0 0%; background-size: 100%; }
.inc-hosting-class-10 { background-position: 0 9.090909%; background-size: 100%; }
.inc-hosting-class-11 { background-position: 0 18.181818%; background-size: 100%; }
.inc-hosting-class-12 { background-position: 0 27.272727%; background-size: 100%; }
.inc-hosting-class-2 { background-position: 0 36.363636%; background-size: 100%; }
.inc-hosting-class-3 { background-position: 0 45.454545%; background-size: 100%; }
.inc-hosting-class-4 { background-position: 0 54.545455%; background-size: 100%; }
.inc-hosting-class-5 { background-position: 0 63.636364%; background-size: 100%; }
.inc-hosting-class-6 { background-position: 0 72.727273%; background-size: 100%; }
.inc-hosting-class-7 { background-position: 0 81.818182%; background-size: 100%; }
.inc-hosting-class-8 { background-position: 0 90.909091%; background-size: 100%; }
.inc-hosting-class-9 { background-position: 0 100%; background-size: 100%; }

#inc-hosting-class{color:#FFF;background-image:url('../images/inc-hosting-class-bg-1.jpg');background-size:cover;background-position: 0 0;}
.inc-webhosting-main-1, .inc-webhosting-main-2, .inc-webhosting-main-3
{ max-width: 100%; background-size: 100%; background-image: url('../images/webhosting-sprite-main.png'); }
 
.inc-webhosting-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-webhosting-main-2 { background-position: 0 50%; background-size: 100%; }
.inc-webhosting-main-3 { background-position: 0 100%; background-size: 100%; }
#inc-servers-class{}
#inc-dns-class{color:#FFF;background-image:url('../images/inc-hosting-class-bg-3.jpg');background-size:cover;min-height:1000px;padding-top:70px;}
#inc-dns-class h3{color:#000!important;}
#inc-dns-class .dns-txt{color:#000!important;}
.dns-icons{margin-top:80px;margin-bottom:30px;}

/* Design Classes */

.inc-design-1, .inc-design-10, .inc-design-11, .inc-design-12, .inc-design-2, 
.inc-design-3, .inc-design-4, .inc-design-5, .inc-design-6, .inc-design-7, 
.inc-design-8, .inc-design-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/design-sprite.png'); }
 
.inc-design-1 { background-position: 0 0%; background-size: 100%; }
.inc-design-10 { background-position: 0 9.090909%; background-size: 100%; }
.inc-design-11 { background-position: 0 18.181818%; background-size: 100%; }
.inc-design-12 { background-position: 0 27.272727%; background-size: 100%; }
.inc-design-2 { background-position: 0 36.363636%; background-size: 100%; }
.inc-design-3 { background-position: 0 45.454545%; background-size: 100%; }
.inc-design-4 { background-position: 0 54.545455%; background-size: 100%; }
.inc-design-5 { background-position: 0 63.636364%; background-size: 100%; }
.inc-design-6 { background-position: 0 72.727273%; background-size: 100%; }
.inc-design-7 { background-position: 0 81.818182%; background-size: 100%; }
.inc-design-8 { background-position: 0 90.909091%; background-size: 100%; }
.inc-design-9 { background-position: 0 100%; background-size: 100%; }

.inc-design-main-1, .inc-design-main-2, .inc-design-main-3
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-design-main-sprite.png'); }
 
.inc-design-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-design-main-2 { background-position: 0 50%; background-size: 100%; }
.inc-design-main-3 { background-position: 0 100%; background-size: 100%; }

#inc-visual-class{background-image:url('../images/inc-design-bg-1.jpg');background-size:cover;}
.end-visual{margin-top:110px;position:relative;top:30px;color:#FFF;}
#inc-interactive-class{}
#inc-uxresearch-class{background-image:url('../images/inc-design-bg-3.jpg');background-size:cover;background-position:-20px -140px;}
.end-research{margin-top:140px;margin-bottom:70px;color:#FFF;}

/* Admin Class */

.inc-admin-1, .inc-admin-10, .inc-admin-11, .inc-admin-12, .inc-admin-2, 
.inc-admin-3, .inc-admin-4, .inc-admin-5, .inc-admin-6, .inc-admin-7, 
.inc-admin-8, .inc-admin-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/admin-sprite.png'); }
 
.inc-admin-1 { background-position: 0 0%; background-size: 100%; }
.inc-admin-10 { background-position: 0 9.090909%; background-size: 100%; }
.inc-admin-11 { background-position: 0 18.181818%; background-size: 100%; }
.inc-admin-12 { background-position: 0 27.272727%; background-size: 100%; }
.inc-admin-2 { background-position: 0 36.363636%; background-size: 100%; }
.inc-admin-3 { background-position: 0 45.454545%; background-size: 100%; }
.inc-admin-4 { background-position: 0 54.545455%; background-size: 100%; }
.inc-admin-5 { background-position: 0 63.636364%; background-size: 100%; }
.inc-admin-6 { background-position: 0 72.727273%; background-size: 100%; }
.inc-admin-7 { background-position: 0 81.818182%; background-size: 100%; }
.inc-admin-8 { background-position: 0 90.909091%; background-size: 100%; }
.inc-admin-9 { background-position: 0 100%; background-size: 100%; }
#inc-patching-class{
    /* Firefox v3.6+ */
background-image:-moz-linear-gradient(50% 0% -90deg,rgb(0,0,0) 0%,rgb(38,89,100) 100%); 
/* safari v4.0+ and by Chrome v3.0+ */
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(0,0,0)),color-stop(1, rgb(38,89,100)));
/* Chrome v10.0+ and by safari nightly build*/
background-image:-webkit-linear-gradient(-90deg,rgb(0,0,0) 0%,rgb(38,89,100) 100%);
/* Opera v11.10+ */
background-image:-o-linear-gradient(-90deg,rgb(0,0,0) 0%,rgb(38,89,100) 100%);
/* IE v10+ */
background-image:-ms-linear-gradient(-90deg,rgb(0,0,0) 0%,rgb(38,89,100) 100%);
background-image:linear-gradient(180deg,rgb(0,0,0) 0%,rgb(38,89,100) 100%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff265964,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff265964,GradientType=0);color:#FFF;}
#inc-load-class{}
#inc-security-class{background-image:url('../images/inc-admin-bg-3.jpg');background-size:cover;color:#FFF;    }

.inc-admin-main-1, .inc-admin-main-2, .inc-admin-main-3
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-admin-main-sprite.png'); }
 
.inc-admin-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-admin-main-2 { background-position: 0 50%; background-size: 100%; }
.inc-admin-main-3 { background-position: 0 100%; background-size: 100%; }



/* Sociology */


.inc-social-main-1, .inc-social-main-2, .inc-social-main-3, .inc-social-1, .inc-social-10, 
.inc-social-11, .inc-social-12, .inc-social-2, .inc-social-3, .inc-social-4, 
.inc-social-5, .inc-social-6, .inc-social-7, .inc-social-8, .inc-social-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/sociology-sprite.png'); }
 
.inc-social-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-social-main-2 { background-position: 0 10.098522%; background-size: 100%; }
.inc-social-main-3 { background-position: 0 20.197044%; background-size: 100%; }
.inc-social-1 { background-position: 0 29.285714%; background-size: 192.307692%; }
.inc-social-10 { background-position: 0 35.714286%; background-size: 192.307692%; }
.inc-social-11 { background-position: 0 42.142857%; background-size: 192.307692%; }
.inc-social-12 { background-position: 0 48.571429%; background-size: 192.307692%; }
.inc-social-2 { background-position: 0 55%; background-size: 192.307692%; }
.inc-social-3 { background-position: 0 61.428571%; background-size: 192.307692%; }
.inc-social-4 { background-position: 0 67.857143%; background-size: 192.307692%; }
.inc-social-5 { background-position: 0 74.285714%; background-size: 192.307692%; }
.inc-social-6 { background-position: 0 80.714286%; background-size: 192.307692%; }
.inc-social-7 { background-position: 0 87.142857%; background-size: 192.307692%; }
.inc-social-8 { background-position: 0 93.571429%; background-size: 192.307692%; }
.inc-social-9 { background-position: 0 100%; background-size: 192.307692%; }



/*
#inc-social-business{
    background-image:url('../images/inc-social-bg-1.png');
    background-repeat:repeat;
    
    
}
*/
#inc-social-relations{}
/*
#inc-social-tech{background-image:url('../images/inc-social-bg-3.jpg');
background-size:cover;
    color:#FFF;
}
*/

.network img{width:100%;position:relative;top:100px;}
.collab img{width:90%;position:relative;top:100px;}
.relations img{width:120%;position:relative;top:100px;left:-40px;}



/* Ethics Class */

.inc-ethics-1, .inc-ethics-10, .inc-ethics-11, .inc-ethics-12, .inc-ethics-2, 
.inc-ethics-3, .inc-ethics-4, .inc-ethics-5, .inc-ethics-6, .inc-ethics-7, 
.inc-ethics-8, .inc-ethics-9
{ max-width: 100%; background-size: 100%; background-image: url('../images/ethics-sprite.png'); }
 
.inc-ethics-1 { background-position: 0 0%; background-size: 100%; }
.inc-ethics-10 { background-position: 0 9.090909%; background-size: 100%; }
.inc-ethics-11 { background-position: 0 18.181818%; background-size: 100%; }
.inc-ethics-12 { background-position: 0 27.272727%; background-size: 100%; }
.inc-ethics-2 { background-position: 0 36.363636%; background-size: 100%; }
.inc-ethics-3 { background-position: 0 45.454545%; background-size: 100%; }
.inc-ethics-4 { background-position: 0 54.545455%; background-size: 100%; }
.inc-ethics-5 { background-position: 0 63.636364%; background-size: 100%; }
.inc-ethics-6 { background-position: 0 72.727273%; background-size: 100%; }
.inc-ethics-7 { background-position: 0 81.818182%; background-size: 100%; }
.inc-ethics-8 { background-position: 0 90.909091%; background-size: 100%; }
.inc-ethics-9 { background-position: 0 100%; background-size: 100%; }

#inc-business-ethics{background-image:url('../images/inc-ethics-bg-1.jpg');background-size:cover;padding-top:100px;}

.inc-ethics-main-1, .inc-ethics-main-2, .inc-ethics-main-3
{ max-width: 100%; background-size: 100%; background-image: url('../images/inc-ethics-main-sprite.png'); }
 
.inc-ethics-main-1 { background-position: 0 0%; background-size: 100%; }
.inc-ethics-main-2 { background-position: 0 50%; background-size: 100%; }
.inc-ethics-main-3 { background-position: 0 100%; background-size: 100%; }

.business-icons{margin-top:30px;}
.end-business-ethics{margin-top:20px;margin-bottom:60px;position:relative;top:80px}
#inc-personal-ethics{}
#inc-democracy-business{background-image:url('../images/inc-ethics-bg-3.jpg');background-size:cover;}
.end-future-democracy{margin-top:110px;position:top;}


/* Reorganize */

.learn-img img{width:100%;height:100%;}
.sec-bullets{margin-top:10px;}
.sec-bullets li{font-size:1.4em;line-height:1.7em;}\
.people-sec{text-align:center!important;}
.people-sec img{text-align:center!important;}
.people-sec p{font-style:italic;padding:7px 0;text-align:center!important;}

.padding{padding:30px 0;}
.inc-what-learn{-moz-box-shadow:    inset 0 0 10px #000000;-webkit-box-shadow: inset 0 0 10px #000000;box-shadow:inset 0 0 10px #000000;background-color:#083F59;background-image:url('../images/blue-bg.png');}

.inc-learn-bg{z-index:3;display:block;position:absolute;width:100%;height:100%;background-position:bottom;background-image:url('../images/blue-bg.png');background-repeat:repeat;}
.inc-what-learn h2{font-size:2.2em;font-weight:700;}
.inc-learn-{}
.inc-learn-right{text-align:left;}
.inc-learn .container-fluid{height:100%;display:table;width: 100%;padding: 0;}
.inc-learn .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
.inc-learn .centering {float:none;margin:0 auto;}
.inc-learn-right h2{}
.inc-benefits-title{}
.inc-benefits-title p{text-align:center;}
.inc-benefits-title h2{line-height:1.4em;}
.inc-become{}
.inc-become h3{font-size:1.7em;font-weight:700;}
inc-become ul li{text-align:left;}
.sm-student{}
.sm-student-content{}
.sm-student{text-align:center;}
.sm-student button{text-align:center!important;}
.sm-student h4{font-size:3em;font-weight:700;font-style:italic;padding:10px 0 20px 0;}
.whc-link{text-decoration:underline;}
.whc-link:hover{text-decoration:underline;}

/* FOOTER */
#pie a{position:relative;bottom:10px;right:10px;}
.copylinks{text-align:right;}
.copylinks ul{}
.copylinks ul li{display:inline;}
.footer-sec{}
#footer .logo{}
#footer-logo {position: relative;float: left;height: 94px;max-width: 300px;margin-top: 16px;margin-bottom:-16px;font-size: 36px;line-height: 120px;}
#footer-logo a {display: block;color: #000;}
#footer-logo img {display: block;max-width: 100%;}
.copyright{font-size:1em;margin-top:100px; margin-left:10px;}
.copyright a{color:#B7D6E3;}
.copyright a:hover{color:#fff;}
.footer-links{text-align:right;}
.footer-links a{color:#B7D6E3;font-size:1.3em;}
.footer-links a:hover{color:#FFF;text-decoration:underline;}
.footer-links ul{margin:20px 0;}
.footer-links ul li{background-image:url('../images/footer-divider.gif');background-repeat:no-repeat;background-position:bottom left;display:inline;padding:0 3.3%;line-height:65px;}
.footer-links ul li:first-child{background-image:none;}


/* BOOTSTRAP OVERWRITE */
.nav>li{background-image: url('../images/header-divider.gif');background-repeat: no-repeat;background-position: center left;}
.nav>li:first-child{background-image:none;}
.nav>li>a{font-size:1.1em!important;text-transform: uppercase;font-weight:700;line-height:90px!important;padding:16px 25px!important;}
.navbar-nav>li>a{}
.submit{background-color:#FF8000;line-height:40px;font-size:1.6em;border:none;padding:10px 20px;border-radius:4px;margin:0!important;}
.submit:hover{background-color:#FFBD3C;}















.dig-coop p{text-align:center;}








/* Responsive Styles */

@media only screen and (max-width: 1180px) {
    .nav>li>a{padding:16px 10px!important;}
    #logo {width:250px;}
    #logo img{margin-top:24px;}
 }

@media only screen and (min-width: 980px) and (max-width: 1040px) {
    #inc-free-education{background-position:670px center;}
    #inc-free-hand-holding{ background-position: -100px;}
    .student-button{padding:0;text-align:center!important;}
    .nav{text-align:center;float:none;}
    #inc-quality-hosting{background-position:-490px 0;}
    
    .item:nth-child(3) {background:url('../images/index-slider3.jpg');background-size:cover;background-position:-200px 0!important;}
    
}

@media only screen and (max-width: 979px) {}
@media only screen and (min-width: 768px) and (max-width: 979px) {
    #logo{margin:16px auto 0 auto;float:none;}
    #logo img{margin:0 auto;}
     #footer-logo {float:none;margin:20px auto 0 auto;text-align:center;}
    .footer-links{padding:20px 0;margin:0;text-align:center;}
    .footer-links ul{margin:0;}
    .footer-links ul li{line-height:30px;}
    .copylinks{text-align:center;}
    .copyright-txt{text-align:center;}
    .support-button{display:none;}
     .control-panel img,.ipad img,.phone img,.hosting-servers img,.server-lady img,.art-love img,.maintenance img, .balance img, .shield img, .git img, .languages img, .databases img, .people-ethics img, .interaction img, .report img,.network,.relations,.collab {display:none;}
    #submain h1{text-align:center;line-height:40px;}
    #submain h2{text-align:center;}
    .student-button{padding:0;text-align:center;}
   .non-profit-txt{padding-top:0;}
    #non-profit-benefits{background-position:-200px 0}
    #testimonials h5{font-size:1.5em;padding:0 36px;}
    #inc-free-education{background-image:none;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{    border-color: #e7e7e7;
    width: 700px;
    margin: 0 auto;
    float: none;
    text-align: center;}
    .nav>li>a{padding:16px 25px!important;line-height:40px!important;}
    #inc-free-hand-holding{background-position:-790px 0;}
    #inc-free-benefits{background-position:900px 0;}
    #inc-quality-hosting{background-position:-470px 0;}
    .git-cont{margin-bottom:0;background-image:none;}
    .form-content{padding:0 60px!important;}
    .two-line-left{padding-right:15px!important;}
    .two-line-right{padding-left:15px!important;padding-top:5px;}
    .people-sec{text-align:center!important;}
.people-sec img{text-align:center!important;}
.people-sec p{font-style:italic;padding:7px 0;text-align:center!important;}
    
    
        .slider-txt{font-size:2.8em!important;padding:90px 40px 10px 40px!important;font-weight:300!important;}
.slider-txt2{font-size:2em!important;color:#FFF;padding:0 0 20px 0!important;font-weight:300!important;}
.non-profit-slider .slider-txt{font-size:2.8em!important;color:#000!important;}
.non-profit-slider .slider-txt2{font-size:2em!important;color:#000!important;}
    
.item:nth-child(1) {background:url('../images/webinar.jpg');background-size:cover;}
.item:nth-child(2) {background:url('../images/index-slider2.jpg');background-size:cover;background-position:-100px 0!important;}
.item:nth-child(3) {background:url('../images/index-slider3.jpg');background-size:cover;background-position:-300px 0!important;}
    
    
    #inc-dns-class{min-height:1200px;}
    
    
}

@media only screen and (max-width: 767px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #topbar ul{text-align:center;}
    #topbar ul li{text-align:center;}
    .top-button{display:none;}
    .top-divider{display:none!important;}
    .support{margin:14px 0 0 0;}
    .navbar-nav>li>a{padding:0!important;}
    .nav>li>a{line-height:44px!important;padding-left:20px!important;}
    #navbar-collapse-1{width:100%;}
    .navbar-nav{margin:0 -15px!important;}
    #logo{margin:10px auto;width:100%;float:none;}
    #logo img{margin:0 auto;}
    .navbar.navbar-default .navbar-nav>li>a{line-height:20px;font-size:1.3em;}
    #inc-free-education{background-image:none;}    
    #inc-free-hand-holding{ background-position: 1000px 0;}
    .section h2{text-align:center;}
    .section h3{text-align:center;}
    .section h4{text-align:center;}
    .additional-hand{margin:10px 0 10px 0;}
    .section p{text-align:center;}
    #footer-logo {float:none;margin:20px auto 0 auto;text-align:center;}
    .footer-links{padding:20px 0;margin:0;text-align:center;}
    .footer-links ul{margin:0;}
    .footer-links ul li{line-height:30px;}
    .footer-links a{font-size:1.1em;}
    .copylinks{text-align:center;}
    .copyright-txt{text-align:center;}
    .support-button{display:none;}
    #inc-quality-hosting{background-position:-470px 0;}
     .control-panel img,.ipad img,.phone img,.hosting-servers img,.server-lady img,.art-love img,.maintenance img, .balance img, .shield img, .git img, .languages img, .databases img, .people-ethics img, .interaction img, .report img,.network,.relations,.collab {display:none;}
    #submain h1{text-align:center;line-height:40px;}
    #submain h2{text-align:center;}
    .student-button{padding:0;text-align:center;}
    .non-profit-txt{padding-top:0;}
    #non-profit-benefits{background-position:-200px 0}
    #testimonials{display:none;}
    .learn-txt{ padding:70px 20px 70px 20px!important; text-align:center;}
    .learn-txt h2{text-align:center!important;}
    .git-cont{margin-bottom:0;background-image:none;}
    .form-content{padding:0 60px!important;}
    .two-line-left{padding-right:15px!important;}
    .two-line-right{padding-left:15px!important;padding-top:5px;}
    
    
    
    .slider-txt{font-size:2.4em!important;padding:100px 40px 10px 40px!important;font-weight:300!important;}
.slider-txt2{font-size:1.7em!important;color:#FFF;padding:0 0 20px 0!important;font-weight:300!important;}
.non-profit-slider .slider-txt{font-size:2.4em!important;color:#000!important;}
.non-profit-slider .slider-txt2{font-size:1.7em!important;color:#000!important;}
    
.item:nth-child(1) {background:url('../images/webinar.jpg');background-size:cover;}
.item:nth-child(2) {background:url('../images/index-slider2.jpg');background-size:cover;background-position:-100px 0!important;}
.item:nth-child(3) {background:url('../images/index-slider3.jpg');background-size:cover;background-position:-300px 0!important;}
    
    #inc-dns-class{min-height:1200px;}
    .nav-col{width:50%!important;float:left;}
}

@media only screen and (max-width: 479px) {
    
    #topbar ul{text-align:center;}
    #topbar ul li{text-align:center;}
    .top-button{display:none;}
    .top-divider{display:none!important;}
    .support{margin:14px 0 0 0;}
    .social{}
    .support{}
    #logo{margin:10px auto;;}
    #logo img{margin:0 auto;}
    #submain h1{text-align:center;line-height:40px;}
    #submain h2{text-align:center;}
    .student-button{padding:0;text-align:center;}
    .section button{text-align:center;}
    .navbar-nav>li>a{padding:0!important;}
    .nav>li>a{line-height:44px!important;padding-left:20px!important;}
    #navbar-collapse-1{width:100%;}
    .navbar-nav{margin:0 -15px!important;}
    #footer-logo {float:none;margin:20px auto 0 auto;text-align:center;}
    .footer-links{padding:20px 0;margin:0;text-align:center;}
    .footer-links ul{margin:0;}
    .footer-links ul li{display:block;text-align:;background-image:none;line-height:30px;}
    .copylinks{text-align:center;}
    .copyright-txt{text-align:center;}
    #inc-quality-hosting{background-position: 1000px 0;}
    #inc-free-education{background-image:none;}  
    #inc-free-hand-holding{ background-position: 1000px 0;}
    .section h2{text-align:center;}
    .section h3{text-align:center;}
    .section h4{text-align:center;}
    .section p{text-align:center;}
    .additional-hand{margin:10px 0 10px 0;}
    .support-button{display:none;}
    #testimonials {display:none;}
    .non-profit-subfeat-txt{text-align:center;}
     .control-panel img,.ipad img,.phone img,.hosting-servers img,.server-lady img,.art-love img,.maintenance img, .balance img, .shield img, .git img, .languages img, .databases img, .people-ethics img, .interaction img, .report img,.network,.relations,.collab {display:none;}
    .git-cont{margin-bottom:0;background-image:none;}
    .non-profit-txt{padding-top:0;}
    #non-profit-benefits{background-position:-200px 0}
    .learn-txt{ padding:20px!important; text-align:center;}
    .learn-txt h2{text-align:center!important;}
    .form-content{padding:0 60px!important;}
    .two-line-left{padding-right:15px!important;}
    .two-line-right{padding-left:15px!important;padding-top:5px;}
    .section h5{font-size:2em!important;}
    
    
    
.slider-txt{font-size:2.4em!important;padding:80px 40px 10px 40px!important;font-weight:300!important;}
.slider-txt2{font-size:1.7em!important;color:#FFF;padding:0 0 20px 0!important;font-weight:300!important;}
.non-profit-slider .slider-txt{font-size:2.4em!important;color:#000!important;}
.non-profit-slider .slider-txt2{font-size:1.7em!important;color:#000!important;}
    
.item:nth-child(1) {background:url('../images/webinar.jpg');background-size:cover;}
.item:nth-child(2) {background:url('../images/index-slider2.jpg');background-size:cover;background-position:-100px 0!important;}
.item:nth-child(3) {background:url('../images/index-slider3.jpg');background-size:cover;background-position:-300px 0!important;}

    #inc-dns-class{min-height:1400px;}
    .register img{width:50%!important;}
	.nav-col{width:50%!important;float:left;}
	.social{display:none;}
	.top-button{display:none!important;}
	.standard-logo{    width: 230px;margin-left:8%;}
	#topbar{padding-top:0;}
}
